<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Associar Ativo</strong>
            <small>ao usuário</small>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                    <div class="ng-autocomplete">
                        <label for="ativo">Ativo</label>
                        <ng-autocomplete
                            [data]="data"
                            name="ativo"
                            [(ngModel)]="ativo"
                            [searchKeyword]="keyword"
                            (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)'
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"
                            [minQueryLength]=4>
                        </ng-autocomplete>

                        <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
              </div>
                <div class="col-sm-6">
                <div class="form-group">
                    <label for="vlr_compra">Preço de compra</label>
                    <input type="text" class="form-control" id="vlr_compra" placeholder="25.50">
                </div>
                </div>
            </div><!--/.row-->
            <div class="row" style="float: right">
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-secondary" type="button">Cancel</button>
                </div>
            </div>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
