<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3" >
            <div class="card">
                <div class="brand-card">
                    <div class="brand-card-header bg-facebook">
                        <span style="color: #FFF">PETR4.SA</span>
                    </div>
                </div>
                <div class="brand-card-body">
                    <div>
                        <div class="text-value">R$ 25.40</div>
                        <div class="text-uppercase text-muted small">Vlr. Compra</div>
                    </div>
                    <div>
                        <div class="text-value">R$ 28.50</div>
                        <div class="text-uppercase text-muted small">Vlr. Atual</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div>
