<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Ativos Associados
                <div class="col-1 col-sm-4 col-md-2 col-xl2 mb-3 mb-xl-0" style="float: right">
                    <button type="button" class="btn btn-block btn-primary" (click)="novo()">Novo <i class="fa fa-plus"></i></button>
                </div>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Ativo</th>
                  <th>Data da compra</th>
                  <th>Vlr. Compra</th>
                  <th>Vlr. Atual</th>
                  <th>%</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Samppa Nori</td>
                  <td>2012/01/01</td>
                  <td>Samppa Nori</td>
                  <td>Member</td>
                  <td>10 %</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
